:root {
  --branding-color: #f4bdb8;
  --secondary-color: rgba(244, 189, 184, 0.3);
  --heading-font-family: "Playfair Display", serif;
  --body-font-family: "Poppins", sans-serif;
}

/* General Styles */
h1 {
  font-family: var(--heading-font-family);
}

h2,
p,
a {
  font-family: var(--body-font-family);
}

h1 {
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin-top: 20px;
  margin-bottom: 15px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  margin-top: 80px;
}

.hero,
.about-section,
.work-section,
.contact-section {
  margin-top: 100px;
}

/* Hero Section */
.hero h1,
.hero h2,
.hero p,
.hero a {
  margin-left: 70px;
}

.hero p {
  margin-bottom: 120px;
}

.hero img {
  border-radius: 30px;
  width: 560px;
  height: 560px;
  object-fit: cover;
}

/* Button Styles */
.btn-main {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  background-color: var(--branding-color);
  color: white;
  text-decoration: none;
  padding: 18px 40px;
  transition: all 100ms ease-in-out;
}

/* Contact Section */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  border: 0px solid var(--secondary-color);
  border-radius: 20px;
  padding: 50px 40px;
}

footer .copyright-notice {
  font-family: var(--body-font-family);
  color: var(--branding-color);
  text-align: center;
  margin: 0;
}

.contact,
.my-portfolio {
  border: 0px solid var(--secondary-color);
  background-color: var(--secondary-color);
  border-radius: 20px;
  padding: 50px 40px;
}

.fa-brands {
  color: var(--branding-color);
  border: 0px solid var(--secondary-color);
  border-radius: 50%;
  background-color: var(--secondary-color);
  padding: 10px;
  margin: 5px;
  transition: all 100ms ease-in-out;
}

.fa-brands:hover {
  color: white;
  background: var(--branding-color);
}

.social-icons a {
  text-decoration: none;
}

.contact h4 {
  font-family: var(--heading-font-family);
  font-size: 32px;
}

.contact p,
.my-portfolio p {
  font-size: 16px;
}
.my-portfolio h3,
p {
  margin: 0 79.5px 20px;
}

.my-portfolio h3 {
  font-family: var(--heading-font-family);
  font-size: 45px;
}

.my-portfolio a {
  margin-left: 90px;
  padding: 15px 60px;
}
.contact-section p,
.contact-section h4 {
  margin-left: 40px;
}
/* Portfolio Section */

.box-1 {
  width: 437px;
  height: 581px;
  background-color: var(--branding-color);
  position: relative;
  border-radius: 30px;
  margin: 0 auto;
}

.box-2,
.box-3 {
  width: 437px;
  height: 294px;
  background-color: var(--branding-color);
  position: relative;
  border-radius: 30px;
  margin: 0 auto;
}
/* About Page */
.about-section h3,
h2 {
  font-size: 18px;
}
.about-section h2 {
  margin: 40px 0 20px 0;
}
.about-section h3 {
  line-height: 30px;
  margin-bottom: 40px;
}
.certifications h4 {
  font-family: var(--heading-font-family);
  font-size: 32px;
  text-align: center;
}
.about-section img {
  border-radius: 30px;
  width: 560px;
  height: 560px;
  object-fit: cover;
}
/* Work Page */
.work-section h3,
p {
  font-family: var(--body-font-family);
}
.work-section h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  margin: 20px 0 0;
}
.work-section p {
  font-size: 14px;
}

/* Pre Footer Section */
.pre-footer li {
  display: inline;
  list-style: none;
  line-height: 45px;
  margin-left: 15px;
}
.pre-footer a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}
.pre-footer a:hover,
.pre-footer li.active a {
  color: var(--branding-color);
}

.open-sourced-link {
  text-decoration: none;
  color: var(--branding-color);
}
.open-sourced-link:hover {
  text-decoration: underline;
}

/* Nav Section */

.active {
  color: var(--branding-color) !important;
}

.btn-main:hover {
  border: 1px solid #f2aba4;
  border-radius: 4px;
  background-color: #f2aba4;
  color: white;
  text-decoration: none;
}

/* Responsive Adjustments */
@media (max-width: 1400px) {
  .my-portfolio h3 {
    font-size: 50px;
  }

  .box-2 {
    margin-top: 15px;
  }
}

@media (max-width: 992px) {
  .hero h1,
  .hero h2,
  .hero p,
  .hero a {
    margin-left: 0;
  }
  .hero p {
    margin-bottom: 50px;
  }
  .hero h2 {
    margin-top: 50px;
  }
  .box-2,
  .box-3 {
    display: none;
  }
  .my-portfolio a {
    margin-top: 15px;
    margin-left: 0;
  }
  .portfolio-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .my-portfolio h3,
  .my-portfolio p {
    text-align: center;
    margin: 0 0 15px 0;
  }
}

@media (max-width: 768px) {
  .btn-main {
    padding: 14px 32px;
  }
  footer {
    flex-direction: column;
    padding: 20px 10px;
  }

  footer .copyright-notice {
    margin-top: 10px;
  }
  .pre-footer ul {
    padding: 0;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .hero-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }
  .hero p {
    margin: 0;
  }
  .about-section,
  .hero h1,
  .hero h2,
  .hero p {
    text-align: center;
  }
  .about-section img {
    margin-top: 40px;
    max-width: 80%;
  }
  .box-1 {
    width: 271px;
    height: 365px;
    background-color: var(--branding-color);
    position: relative;
    border-radius: 30px;
    margin: 0 auto;
  }
  .contact {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .contact p,
  .contact h4 {
    margin: 0;
  }
  .contact p {
    margin-bottom: 15px;
  }

  .hero,
  .about-section,
  .work-section,
  .contact-section {
    margin-top: 30px;
  }
  .work-section img {
    width: 80%;
  }
  .work-section h1 {
    text-align: center;
  }
  .contact-section h1 {
    text-align: center;
  }
}
